@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Authentication
@{
}
<a class="btn btn-primary" asp-action="LogOut">Logout</a>
<a class="btn btn-secondary" asp-action="GetRefreshToken">Get Refresh Token</a>
<h3>This page has only been seen by registered users.</h3>
<h4> Claim data</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<h4> Authentication data</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Auth Property Key</th>
            <th>Auth Property Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
